.row-grid {
    margin-top: 50px;
}

#fullScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    left:100%;
    top:0;
    background: red;
    transition: left 1s;
}
#fullScreen.in {
    left:0;
}